.container {
    width: 100%;
    margin: 0 auto;
}

@media (min-width: 640px) {
    .container {
        max-width: 640px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}

@media (min-width: 1024px) {
    .container {
        max-width: 1024px;
    }
}

@media (min-width: 1280px) {
    .container {
        max-width: 1280px;
    }
}

@media (min-width: 1536px) {
    .container {
        max-width: 1536px;
    }
}

.btn {
    outline: 0;
    border: 0;
    border-radius: 8px;
    padding: 12px 30px;
    margin: 10px 0;
    text-align: center;
    cursor: pointer;
    font-size: inherit;
    white-space: nowrap;
    transition: background-color 0.3s ease-in-out;
}

.btn-primary {
    background-color: var(--color-primary);
    color: var(--color-white);
}

.btn-primary:hover {
    background-color: var(--color-primary-light);
}

.btn-secondary {
    background-color: var(--color-secondary);
    color: var(--color-white);
}

.btn-secondary:hover {
    background-color: var(--color-secondary-light);
}

.btn-block {
    width: 100%;
    display: block;
}