@import url('./_variables.css');
@import url('./_utilities.css');
@import url('./_mian-header.css');
@import url('./_hero-section.css');
@import url('./_serivces.css');
@import url('./_features.css');
@import url('./_parallax.css');
@font-face {
    font-family: 'iranYekan';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/Yekan.woff') format('woff'), url('../fonts//Yekan.ttf') format('ttf'), url('../fonts/Yekan.eot') format('eot');
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

[x-cloak] {
    display: none !important;
}

ul,
li,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: #444;
}

body {
    direction: rtl;
    font-family: 'iranYekan', roboto, Arial;
    background-color: #f8f8f8;
    font-size: 1.4rem;
    line-height: 1.7;
}